
DAY3_TASK/.vs/DAY3_TASK/FileContentIndex/53bddfac-5bc0-439a-b461-9c06ea437bf9.vsidx
DAY3_TASK/.vs/DAY3_TASK/FileContentIndex/98491d7d-7fb1-4692-91ee-4d6ad73ef079.vsidx
*.vsidx
Day-6_TASK/WebApplication1/WebApplication1/
